/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "Degan";
  src: url("./assets/fonts/Degan\ -\ PERSONAL\ USE\ ONLY.ttf");
}

@font-face {
  font-family: "Apotik";
  src: url("./assets/fonts/Apotik-6Y85Y.ttf");
}
