<div>
  <mat-toolbar style="background: transparent;margin-top: 1.5rem; padding-right: 4rem;">
    <span style="padding-left: 4rem;font-family: Apotik;font-weight: bold;font-size: 30px;color: #027e7a;">WE❤CARE</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="header-text" style="margin-right: 3rem;">
      <span>
        HOME
      </span>
    </button>
    <button mat-icon-button class="header-text">
      <span>
        ABOUT US
      </span>
    </button>
    <button mat-flat-button style="font-size: 16px;background-color: #534b4b;">
      <span style="color: white;">
        LOGIN / SIGNUP
      </span>
    </button>
  </mat-toolbar>
</div>

<div style="text-align: right; padding-top: 2rem;
align-items: center;
justify-content: center" data-aos="fade-right"
  data-aos-duration="1000"
  data-aos-easing="ease-in-sine">
  <div style="display: inline-block; padding-right: 10rem;text-align: left;margin-top: 5rem;">
  <h1 style="font-size: 35px;font-weight: bold;">WE CARE ABOUT YOUR HEALTH<br/><br/></h1>
  <p style="font-size: 20px;">Easy online appointment with best specialists<br/><br/><br/><br/></p>
  <button style="background-color: #027e7a;border: none;width: 400px;height: 100px;font-size: 30px;color: white;">BOOK NOW</button>
</div>
<img style="width: 500px;height: 500px;margin-right: 4rem;" src="../../assets/gifs/main.gif" alt="appont">
    </div>



<div style="text-align: left;padding-top: 2rem;" data-aos="fade-left"
      data-aos-duration="1000"
     data-aos-easing="ease-in-sine">
     <img style="width: 500px;height: 500px;padding-left: 4rem;" src="../../assets/gifs/symptoms.gif" alt="symptoms">
</div>

<div style="text-align: right;padding-top: 2rem;" data-aos="fade-right"
      data-aos-duration="1000"
     data-aos-easing="ease-in-sine">
     <img style="width: 500px;height: 500px;padding-right: 4rem;" src="../../assets/gifs/Doctor.gif" alt="Doctor">
</div>

<div style="text-align: left;padding-top: 2rem;" data-aos="fade-left"
      data-aos-duration="1000"
     data-aos-easing="ease-in-sine">
     <img style="width: 500px;height: 500px;padding-left: 4rem;" src="../../assets/gifs/prescription.gif" alt="prescription">
</div>

<div style="text-align: right;padding-top: 2rem;padding-right: 4rem;" data-aos="fade-right"
      data-aos-duration="1000"
     data-aos-easing="ease-in-sine">
     <img style="width: 500px;height: 500px;" src="../../assets/gifs/chat.gif" alt="wecare">
</div>

<div style="text-align: center;padding-top: 2rem;" data-aos="fade-right"
      data-aos-duration="1000"
     data-aos-easing="ease-in-sine">
     <img style="width: 500px;height: 500px;" src="../../assets/gifs/wecare.gif" alt="wecare">
</div>
