<div class="d-flex flex-column justify-content-center w-100 h-100 body">
  <mat-card style="width: 500px; margin-left: 27rem">
    <mat-card-header style="font-weight: bold; font-size: 22px; margin: 2rem"
      >Forgot Password</mat-card-header
    >
    <form [formGroup]="form">
      <mat-form-field
        style="
          width: 400px;
          padding-top: 1rem;
          padding-left: 4rem;
          display: block;
        "
      >
        <mat-label>National Code</mat-label>
        <input
          type="tel"
          maxlength="10"
          matInput
          placeholder="0123456789"
          [required]="true"
          formControlName="personal_ID"
        />
      </mat-form-field>

      <mat-form-field
        style="
          width: 400px;
          padding-top: 1rem;
          padding-left: 4rem;
          padding-bottom: 2rem;
          display: block;
        "
      >
        <mat-label>Email Address</mat-label>
        <input
          type="email"
          matInput
          placeholder="Exm@example.com"
          [required]="true"
          formControlName="email"
        />
      </mat-form-field>
    </form>
  </mat-card>
  <div style="text-align: center;margin-top: 0.5rem;">
    <button
      style="
        width: 500px;
        height: 35px;
        font-size: 20px;
        border: none;
        background-color: #027e7a;
        border-radius: 5px;
      "
      type="submit"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Send Email
    </button>
  </div>
</div>
