
<mat-card style="width: 500px;margin-left: 32rem;margin-top: 2rem;">
  <mat-card-header style="font-weight: bold;font-size: 22px;margin: 2rem;">Reset Password</mat-card-header>
  <form [formGroup]="form">

    <mat-form-field style="width: 400px;padding-top: 2rem;padding-left: 4rem;display: block;">
      <mat-label>New Password</mat-label>
      <input type="text" maxlength="10" matInput [required]="true" formControlName="password">
    </mat-form-field>

    <mat-form-field style="width: 400px;padding-top: 1rem;padding-left: 4rem;display: block;">
      <mat-label>Confirm Password</mat-label>
      <input type="text" matInput [required]="true" formControlName="confirm_password">
    </mat-form-field>

    <div style="text-align: center;padding-top: 3rem;padding-bottom: 2rem;">
      <button style="width: 400px;height: 40px;font-size: 20px;border: none;background-color: #6ce062 ;border-radius: 100px;"  type="submit"  [disabled]="form.invalid" (click)="onSubmit()">Send Email</button>
    </div>

  </form>
</mat-card>

