<mat-grid-list cols="2" rowHeight="660px">
  <mat-grid-tile [colspan]="1" style="margin-top: 3rem;">
    <div *ngIf="selected.value==0">
    <img style="width: 600px;height: 600px;" src="../../assets/gifs/login.gif">
  </div>
  <div *ngIf="selected.value==1">
    <img style="width: 600px;height: 600px;" src="../../assets/gifs/Signup.gif">
  </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" style="margin-top: 3rem;">
    <mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="1000ms" [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)">
      <mat-tab  *ngFor="let tab of tabs; let index = index" [label]="tab">
        <div *ngIf="selected.value==0">
        <mat-card style="width: 500px;height: 500px;background-color: #08a29d25;">
              <form [formGroup]="form1" style="margin: 1rem;">

                <mat-form-field style="width: 430px;width: 200px;">
                  <mat-label>National Code</mat-label>
                  <input type="tel" maxlength="10" matInput placeholder="0123456789" [required]="true" formControlName="nationalCode">
                </mat-form-field>

                <mat-form-field style="padding-left: 2rem;">
                  <mat-label>Password</mat-label>
                  <input minlength="8" matInput [type]="hide ? 'password' : 'text'" [required]="true" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field style="display: inline-block;width: 200px;">
                <input matInput placeholder="First Name" maxlength="100" [required]="true" formControlName="firstName">
                </mat-form-field>

                <mat-form-field style="display: inline-block;width: 200px;margin-left: 2rem;">
                  <input matInput placeholder="Last Name" maxlength="100" [required]="true" formControlName="lastName">
                  </mat-form-field>

                  <!-- <mat-form-field style="width: 100px;">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" [required]="true" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->

                  <mat-form-field style="width: 100px;">
                    <mat-label>Birth Date</mat-label>
                    <input type="text" matInput placeholder="2000-01-01" [required]="true" formControlName="birthDate">
                  </mat-form-field>

                  <mat-form-field style="margin-left: 2rem;width: 100px;">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" [required]="true" (selectionChange)="genderChange($event.value)">
                      <mat-option *ngFor="let gen of gender" [value]="gen.value">
                        {{gen.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 2rem;width: 170px;">
                    <mat-label>Contact Number</mat-label>
                    <input type="tel" [maxlength]="11" matInput placeholder="09123456789" [required]="true" formControlName="contactNumber">
                  </mat-form-field>

                  <mat-form-field style="width: 434px;">
                    <mat-label>Email Address</mat-label>
                    <input type="email" matInput placeholder="Exm@example.com" [required]="true" formControlName="email">
                  </mat-form-field>

                  <mat-form-field style="width: 150px;">
                    <mat-label>State/Province</mat-label>
                    <mat-select name="state" [required]="true" (selectionChange)="stateChange($event.value)">
                      <mat-option *ngFor="let st of states" [value]="st.id">
                        {{st.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 2rem;width: 100px;">
                    <mat-label>City</mat-label>
                    <mat-select name="city" [required]="true" (selectionChange)="cityChange($event.value)">
                      <mat-option *ngFor="let ct of cities" [value]="ct.id">
                        <p>
                        {{ct.city}}
                      </p>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 2rem;width: 120px;">
                    <mat-label>Zip Code</mat-label>
                    <input type="tel" [maxlength]="5" matInput placeholder="12345" [required]="true" formControlName="zipCode">
                  </mat-form-field>

                  <mat-radio-group>
                    <mat-radio-button style="margin-top: 1.5rem;" value="SelfPay" (change)="radioButtonChange($event)">Self Pay</mat-radio-button>
                    <mat-radio-button style="margin-left: 2rem;" value="HealthInsurance" (change)="radioButtonChange($event)">Health Insurance</mat-radio-button>
                  </mat-radio-group>
                  <div>
                    {{select}}
                  </div>

                    <mat-form-field *ngIf="radioSelected=='HealthInsurance'" style="width: 250px;padding-right: 2rem;">
                      <mat-label>Health Insurance Company</mat-label>
                      <mat-select name="Health" [required]="true" (selectionChange)="healthChange($event.value)">
                        <mat-option *ngFor="let h of health" [value]="h.id">
                          {{h.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  <mat-form-field style="margin-top: 1rem;width: 184px;">
                    <mat-label>Insurance ID</mat-label>
                    <input type="tel" [maxlength]="10" matInput placeholder="123456789" [required]="true" formControlName="insuranceId">
                  </mat-form-field>

                  <div style="text-align: center;padding-top: 0.5rem;">
                  <button style="width: 450px;height: 40px;font-size: 20px;border: none;background-color: #6ce062 ;border-radius: 100px;"  type="submit"  [disabled]="form1.invalid" (click)="onSubmit1()">Sign Up</button>
                </div>
              </form>
        </mat-card>


      </div>
        <div *ngIf="selected.value==1">
        <mat-card style="width: 500px;height: 400px;background-color: #08a29d25;text-align: center;">
          <form [formGroup]="form2" style="margin: 1rem;">

            <mat-form-field style="width: 430px;width: 450px;padding-top: 3rem;">
              <mat-label>National Code</mat-label>
              <input type="tel" maxlength="10" matInput placeholder="0123456789" [required]="true" formControlName="nationalCode">
            </mat-form-field>

            <mat-form-field style="width: 430px;width: 450px;padding-top: 1rem;">
              <mat-label>Password</mat-label>
              <input minlength="4" matInput [type]="hide ? 'password' : 'text'" [required]="true" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <div style="text-align: left;padding-top: 1rem;">
              <span style="cursor: pointer;font-weight: bold;color: #045856;" routerLink="/forgotPassword">Forgot Password?</span>
            </div>
            <div style="text-align: center;padding-top: 3rem;">
              <button style="width: 450px;height: 40px;font-size: 20px;border: none;background-color: #6ce062 ;border-radius: 100px;"  type="submit"  [disabled]="form2.invalid" (click)="onSubmit2()">LogIn</button>
            </div>
          </form>

        </mat-card>
       </div>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>
